*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --backgroundColour: #fffad2;
    --lightPink: #ffe2ef;
    --darkPink: #c4537a;
    --midPink: #ff99c8;
    --teal: #119da4;
    --orange: #f9b985;
    --icyBlue: #dfffff;
    --darkerBlue: #aeecef;
    --midBlue: #b0ecee;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColour);
}

.main-container {
    width: 100%;
}

#hi {
    height: auto;
    width: 90vw;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-c-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    overflow-x: hidden;
}

#animation {
    width: 80%;
    height: auto;
}
