@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Just+Another+Hand&family=Shadows+Into+Light&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

:root {
    --backgroundColour: #fffad2;
    --lightPink: #ffe2ef;
    --darkPink: #c4537a;
    --midPink: #ff99c8;
    --teal: #119da4;
    --orange: #f9b985;
    --icyBlue: #dfffff;
    --darkerBlue: #aeecef;
    --midBlue: #b0ecee;
    --offWhite: #fffdee;
}

:root {
    --bigText: 55px;
}

.background-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColour);
}

.main-container {
    width: 100%;
    max-width: 1366px;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-c-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-c-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

body {
    overflow-x: hidden;
}

.heythere-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -0.7%;
}

#animation {
    width: 44.5%;
    height: auto;
}

.intro {
    font-family: "Just Another Hand";
    font-size: 4.5vw;
    color: var(--orange);
    margin-top: -3.9%;
    line-height: 70%;
}


.heart {
    height: auto;
    width: 6.5%;
    margin-bottom: 2%;
}


.typed-text-cursor {
    color: var(--orange);
    animation: typing 1s step-end infinite;
}

@keyframes typing {
    0% {
        color: var(--orange);
    }
    49% {
        color: var(--orange);
    }
    50% {
        color: transparent;
    }
}

/* ----- making intro part responsive ----- */
@media screen and (max-width: 768px) {
    #animation {
        width: 80vw;
    }
    .intro {
        font-size: 8vw;
    }
    .heart {
        width: 11%;
    }
}
/*------------------------------------------*/

.about-me {
    height: 100%;
    /* margin-top: 20%; */
}

.about-me-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5%;
    width: 80%;
    height: auto;
}

.about-image {
    width: 20%;
    margin: 0 0 -1.8% 5vw;
    z-index: 1;
    min-width: 75px;
}

.hihi-image {
    width: 47.5%; 
    height: auto;
    z-index: 1;
    margin-bottom: 13%;
    box-sizing: content-box;
    min-width: 180px;
}

.text-box {
    width: 80%;
    margin: -10.8% 5vw 0;
    border: var(--darkerBlue) 0.5vw solid;
    border-radius: 4.8vw;
    overflow: hidden;
    background-color: var(--offWhite);
    padding: 10vh 5vw 5vh;
}

.describe-me {
    font-family: "Patrick Hand";
    font-size: max(2vw, 20px);
    color: var(--teal);
}

.hihi-image-mob {
    display: none;
}

/* making abt me section responsive*/

@media screen and (max-width: 425px) {
    .about-me-header {
        flex-direction: column;
    }

    .about-image {
        z-index: 100 !important;
        margin: -5% 0;
        width: 50vw;
    }

    .hihi-image {
        display: none;
    }

    .hihi-image-mob {
        display: initial;
        width: 69vw;
        margin: 0 auto;
        padding-top: 5%;
    }
}
/*--------------------------------*/

.skills-section {
    margin-top: 10%;
}

.skills-banner {
    height: 15vh;
    width: 100vw;
    margin-bottom: 1%;
}

.skill-container {
    width: 75%;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    text-indent: 20px;
    width: 100%;
}

.skills-list li {
    margin: 10px 20px;
    font-family: "Shadows Into Light";
    font-size: 3.5vh;
    color:#f9b985;
    height: 3.5vh;
    /* width: 5em; */

}


.bullet {
    height: 3vh;
    padding-top: 0.5vh;
}

@media screen and (max-width: 768px) {
    .skills-list {
        /* justify-content: flex-start; */
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .skills-banner {
        height: 10%;
    }
}

.portfolio-section {
    margin-top: 15vh;
    justify-content: flex-start;
    width: 70%;
}

.portfolio-header {
    height: 80vh;
    width: 12.45%;
}

.portfolio-gallery {
    background-color: var(--offWhite);
    height: 80vh;
    width: 87.55%;
}

.buy-art {
    width: 45%;
    margin-top: 3vh;
    font-family: "Patrick Hand";
    color: var(--darkerBlue);
    font-size: 3vh;
    text-align: center;
}

.buy-art a {
    text-decoration: none;
    color: var(--orange);
}

.buy-art a:hover {
    color: var(--darkerBlue);
}

.buy-art a:active {
    color: var(--orange);
}

.contact {
    width: 60%;
    margin-top: 5vh;
    font-family: "Patrick Hand";
    color: var(--midPink);
    font-size: 5vh;
    text-align: center;
}





.footer {
    margin-top: 15vh;
    height: 8vh;
    width: 100vw;
    background-color: var(--offWhite);
    color: var(--darkerBlue);
    text-align: center;
}

.copyright {
    margin-top: 2.5vh;
    font-family: "Patrick Hand";
    opacity: 80%;
}