@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Just+Another+Hand&family=Shadows+Into+Light&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

:root {
    --backgroundColour: #fffad2;
    --lightPink: #ffe2ef;
    --darkPink: #c4537a;
    --midPink: #ff99c8;
    --teal: #119da4;
    --orange: #f9b985;
    --icyBlue: #dfffff;
    --darkerBlue: #aeecef;
    --midBlue: #b0ecee;
    --offWhite: #fffdee;
}

:root {
    --bigText: 55px;
}

.background-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColour);
}

.main-container {
    width: 100%;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-c-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-c-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

body {
    overflow-x: hidden;
}

.heythere-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#animation {
    width: 45%;
    height: auto;
}

.intro {
    font-family: "Just Another Hand";
    font-size: 4.5vw;
    color: var(--orange);
    margin-top: -3.9%;
    line-height: 70%;
}


.heart {
    height: auto;
    width: 6.5%;
    margin-bottom: 2%;
}


.typed-text-cursor {
    color: var(--orange);
    animation: typing 1s step-end infinite;
}

@keyframes typing {
    0% {
        color: var(--orange);
    }
    49% {
        color: var(--orange);
    }
    50% {
        color: transparent;
    }
}

@media screen and (max-width: 768px) {
    #animation {
        width: 80vw;
    }
    .intro {
        font-size: 8vw;
    }
    .heart {
        width: 11%;
    }
}

.about-me-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5%;
    width: 80%;
    height: auto;
    margin-top: 20%;
}

.about-image {
    width: 20%;
    margin: 0 0 -1.8% 5vw;
    z-index: 1;
}

.hihi-image {
    width: 47.5%;
    height: auto;
    z-index: 1;
    margin-bottom: 13%;
    box-sizing: content-box;
}

.text-box {
    width: 80%;
    margin: -10.8% 5vw 0;
    border: var(--darkerBlue) 0.5vw solid;
    border-radius: 4.8vw;
    overflow: hidden;
    background-color: var(--offWhite);
    padding: 10vh 5vw 8vh;
}

.describe-me {
    font-family: "Patrick Hand";
    font-size: max(2vw, 12px);
    color: var(--teal);
}